

<div class="container">

    <!-- <div class="card">

        <form class="example-form"  [formGroup]="imageform" (ngSubmit)="onSubmitImage(imageform.value)">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Image 1</mat-label>
                <input type="text" matInput formControlName="image1" placeholder=""> 
               
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Image 2</mat-label>
                <input type="text" matInput formControlName="image2" placeholder=""> 
               
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Image 3</mat-label>
                <input type="text" matInput formControlName="image3" placeholder=""> 
              
            </mat-form-field>
            

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Image 4</mat-label>
                <input type="text" matInput formControlName="image4" placeholder=""> 
               
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Image 5</mat-label>
                <input type="text" matInput formControlName="image5" placeholder=""> 
               
            </mat-form-field>

            

            <button type="submit" class="btn btn-secondary">Submit</button> 

        </form>

    </div>

    <div class="card">

        <form class="example-form"  [formGroup]="updateform" (ngSubmit)="onSubmitData(updateform.value)">
       


                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="product_name" placeholder=""> 
                   
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <input type="text" matInput formControlName="product_description" placeholder=""> 
                   
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Price</mat-label>
                    <input type="text" matInput formControlName="product_unit_price" placeholder=""> 
                    
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Stock</mat-label>
                    <input type="text" matInput formControlName="product_unit_instock" placeholder=""> 
         
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Discount</mat-label>
                    <input type="text" matInput formControlName="product_discount_price" placeholder=""> 
                  
                </mat-form-field>


                <mat-form-field appearance="fill" class="state">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="active">
                      <mat-option value=true>Activate</mat-option>
                      <mat-option value=false>Disable</mat-option>
                    </mat-select>
                </mat-form-field>
            
            
    
            <button type="submit" class="btn btn-secondary">Submit</button> 
    
        </form>
    
    </div> -->
    <mat-tab-group dynamicHeight>
        <mat-tab label="Update Product">
          <div class="example-small-box mat-elevation-z4">

            <div *ngIf="alert" class="alert {{alertType}} alert-dismissible fade show" role="alert">
                <strong>{{alertHead}}</strong>&nbsp;&nbsp;&nbsp;{{alertContent}}
                <button (click)="closeAlert()"  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form class="example-form"  [formGroup]="updateform" (ngSubmit)="onSubmitData(updateform.value)">
       


                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="product_name" placeholder=""> 
                   
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <input type="text" matInput formControlName="product_description" placeholder=""> 
                   
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Price</mat-label>
                    <input type="text" matInput formControlName="product_unit_price" placeholder=""> 
                    
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Stock</mat-label>
                    <input type="text" matInput formControlName="product_unit_instock" placeholder=""> 
         
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Discount</mat-label>
                    <input type="text" matInput formControlName="product_discount_price" placeholder=""> 
                  
                </mat-form-field>


                <mat-form-field appearance="fill" class="state">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="active">
                      <mat-option value=true>Activate</mat-option>
                      <mat-option value=false>Disable</mat-option>
                    </mat-select>
                </mat-form-field>
            
            
    
            <button type="submit" mat-raised-button>Submit</button> 
    
        </form>


           
          </div>
        </mat-tab>
        <mat-tab label="Update Images">
          <div class="example-large-box mat-elevation-z4">

            <div *ngIf="alert" class="alert {{alertType}} alert-dismissible fade show" role="alert">
                <strong>{{alertHead}}</strong>&nbsp;&nbsp;&nbsp;{{alertContent}}
                <button (click)="closeAlert()"  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form class="example-form"  [formGroup]="imageform" (ngSubmit)="onSubmitImage(imageform.value)">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Image 1</mat-label>
                    <input type="text" matInput formControlName="image1" placeholder=""> 
                   
                </mat-form-field>
    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Image 2</mat-label>
                    <input type="text" matInput formControlName="image2" placeholder=""> 
                   
                </mat-form-field>
    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Image 3</mat-label>
                    <input type="text" matInput formControlName="image3" placeholder=""> 
                  
                </mat-form-field>
                
    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Image 4</mat-label>
                    <input type="text" matInput formControlName="image4" placeholder=""> 
                   
                </mat-form-field>
    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Image 5</mat-label>
                    <input type="text" matInput formControlName="image5" placeholder=""> 
                   
                </mat-form-field>
    
                
    
                <button type="submit" mat-raised-button>Submit</button> 
    
            </form>



          </div>
        </mat-tab>
      </mat-tab-group>
    

</div>
