.container{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;

}

.card{
    display:flex;
    flex-direction: row;
    max-width: 800px;
    height: fit-content;
}
mat-form-field{
    width: 100%;
    
}
.alert{
    width: 100%;
}

.example-small-box, .example-large-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
     border-radius: 10px; 
  

  }
  
.example-small-box {
    max-height: fit-content;
    max-width: fit-content;
    
  }
form{
    width:450px;
}
  
.example-large-box {
    max-height: fit-content;
    max-width: fit-content;
  }

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #3fb58e;
}
