<form class="example-form" [formGroup]="loginform" (ngSubmit)="loginUser()">

  <div *ngIf="alert" class="alert {{alertType}} alert-dismissible fade show" role="alert">
    <strong>{{alertHead}}</strong>&nbsp;&nbsp;&nbsp;{{alertContent}}
    <button (click)="closeAlert()"  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com"> 
    <small *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.touched"  class="text-danger">Field Required</small>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" placeholder="password"> 
    <small *ngIf="loginform.get('password')?.invalid && loginform.get('password')?.touched"  class="text-danger">Field Required</small>
  </mat-form-field>

  <button type="submit" [disabled]="loginform.invalid" class="btn btn-secondary">Submit</button>
</form>
